body {
    overflow: hidden;
}
.SignIn-card {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.SignIn-button {
    margin-left: 10%;
    margin-right: 10%;
    background: linear-gradient(to top right, #ec4899, #f59e0b);
    color: white;
    font-size: 18px;
    max-width: 80%;
    margin-bottom: -13px;
}

.SignIn-items {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
}

.SignIn-input {

}

.Rainbow-text {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    background: linear-gradient(to top right, #ec4899, #f59e0b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
}

.SignIn-link {
    text-align: center;
    font-size: 14px;
    cursor: default;
}