.App-card {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.LogIn-button {
    margin-left: 10%;
    margin-right: 10%;
    background: linear-gradient(to top right, #ec4899, #f59e0b);
    color: white;
    font-size: 18px;
    max-width: 80%;
}

.LogIn-items {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
}

.LogIn-input {

}

.LogIn-text {
    text-align: center;
    font-size: 30px;
    background: linear-gradient(to top right, #ec4899, #f59e0b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
}